<!DOCTYPE html>

<html>
  <head>
    <title>Timestamp Microservice</title>

    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h2>API Project: Timestamp Microservice</h2>

      <div class="wrap">
        <h3>Enter an ISO Date or Timestamp:</h3>
        <form action="/api/timestampform" method="POST">
          <input id="url_input" type="text" name="input" />
          <input type="submit" value="GET TIME" />
        </form>

        <button onclick="window.location.href='/api/timestamp'">
          Get Current Time
        </button>
      </div>

      <h3>Example Usage:</h3>

      <a class="links" href="api/timestamp/2015-12-25"
        >[project url]/api/timestamp/2015-12-25</a
      >
      <a class="links" href="api/timestamp/1451001600000"
        >[project url]/api/timestamp/1451001600000</a
      >

      <h3>Example Output:</h3>
      <p>
        <code
          >{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code
        >
      </p>
      <p>
        by <a href="https://hydego17.github.io" target="_blank">umma_ahimsha</a>
      </p>
    </div>
  </body>
</html>
